<a href="https://colab.research.google.com/github/AJO70/training-pandas-python/blob/master/Copie_de_D2_Lab_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Let's check our knowledge of different collections. 

From yesterday we know about 4 possible collection types:
- lists
- sets
- tuples
- dictionaries

They are defined differently, but can be transformed from one type into another. 

Now run the code below, so you have variables for the following analysis

In [0]:
chocolates = ('dark', 'milk', 'semi sweet')
brands = ['Valor', 'Nestle', 'Lindt']

Now try to obtain the **dark** from the **chocolates** tuple.

In [61]:
chocolates[0]

'dark'

Remember, that tuples are unchangeable. In order to confirm it, run the code below. You will receive an error.

In [62]:
chocolates[1] = 'caramel filled'

TypeError: ignored

Now transform the tuple into list. Try to guess which function could be used for it.

In [65]:
lst=list(chocolates)
lst[2]='caramel filled'
tuple(lst)

('dark', 'milk', 'caramel filled')

Create a dictionary of Chocolates and Brands:

In [0]:
chocs_and_brands = {'dark': 'Valor', 'milk': 'Nestle', 'semi sweet': 'Lindt'}

Obtain the brand of semi sweet chocolate

In [68]:
chocs_and_brands["semi sweet"] # equivalent to chocs_and_brands.get("semi sweet")

'Lindt'

Remember, that you can also obtain all the keys and values of dictionary. Print keys and values

In [72]:
chocs_and_brands.keys()
chocs_and_brands.values()

dict_values(['Nestle', 'Lindt'])

You can delete the key from dictionary using ***del*** function. Try it now!

In [74]:
del chocs_and_brands['dark']
print(chocs_and_brands)

KeyError: ignored

Now let's add the dark chocolate back:

In [0]:
chocs_and_brands['dark'] = 'Netle'

Using loop present the output in the format '*chocolade type*', '*brand*'

In [76]:
for choc_type, brand in chocs_and_brands.items():
  print(choc_type,brand)

milk Nestle
semi sweet Lindt
dark Netle

Using loop present the output in the format *The best brand for {choc_type} is {brand}*

In [83]:
for choc_type, brand in chocs_and_brands.items():
  print('The best brand for',choc_type,'is',brand,'.')
  print(f'The best brand for {choc_type} is {brand}.')

The best brand for milk is Nestle .
The best brand for milk is Nestle.
The best brand for semi sweet is Lindt .
The best brand for semi sweet is Lindt.
The best brand for dark is Netle .
The best brand for dark is Netle.

## Lists Great Task

The Fibonacci Sequence is the series of numbers:

$$0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...$$

> The next number is found by adding up the two numbers before it.
> 
> The 2 is found by adding the two numbers before it ($1+1$). The 3 is found by adding the two numbers before it ($1+2$),
>
> And the $5$ is ($2+3$), and so on!


**The Rule**

The Fibonacci Sequence can be written as a "Rule".

First, the terms are numbered from 0 onwards like this:


$$
n =	[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,...]
$$
$$
x_n =	[0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,...]
$$

So term number $6$ is called $x_6$ (which equals $8$).

Example: the $8_{th}$ term is 
the $7_{th}$ term plus the $6_{th}$ term:


$$x_8 = x_7 + x_6$$

So we can write the rule:
 $$x_n = x_{n-1} + x_{n-2}$$

where:

$x_n$ is term number $n$

$x_{n-1}$ is the previous term $(n-1)$

$x_{n-2}$ is the term before that $(n-2)$

***Task:***
Define a list **fib** containing the first 2 elements of Fibonacci sequence (0,1). Then calculate values up to the  100th  element of Fibonacci sequence.

In [86]:
fib=[1,2]
while len(fib) < 101:
  fib.append(fib[-1]+fib[-2])
print(fib)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101, 927372692193078999176]

In [92]:
fib1=[0,1]
while len(fib1)<100:
  i=len(fib1)
  fib1.append(fib1[i-1]+fib1[i-2])
print(fib1)
len(fib1)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]

100

In [90]:
fib2=[0,1]
for i in range(2,100):
  i=len(fib1)
  fib2.append(fib2[-1]+fib2[-2])
print(fib2)
len(fib2)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]

100

In [93]:
fib2=[0,1]
for i in range(2,100):
  fib2.append(fib2[i-1]+fib2[i-2])
print(fib2)
len(fib2)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]

100

Remember about built in functions of Python. Forget about them for a while. Calculate the mean and the median of the list **fib**.

In [100]:
s=0
for i in fib2:
  s+=i
mean1 = s/len(fib2)
print(mean1)
mean2 = s/100
print(mean2)

median=(fib2[49]+fib2[50])/2
print(median)

5.73147844013817e+18
5.73147844013817e+18
10182505537.0

And now in order to see that programming in Python is fun, calculate the mean and the median using built-in functions.

In [104]:
sum(fib2)/100
(fib2[49]+fib2[50])/2

10182505537.0